# Task 1
### Running Code in Notebook
I found the running code notebook to be quite interesting as it mentions how code1 cells work as well as running output with for loops with clear examples of how they work. 

The aforementioned notebook may be found [here](https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Running%20Code.ipynb)

# Task 2
## Part A
### Numpy
The numpy package helps manage "multi-dimensional arrays (Mester)". In a sense numpy is a gateway to a multitude of other packages such as: Matplotlib, Scipy, Pandas, and Scikit-Learn. It is also useful when plotting linear or polynomial regressions.

### Pandas
Pandas allows python the use of two-dimensional tables like the ones in excel and SQL. Python origininally did not provide this feature, which truly allows Pandas to shine. Pandas allows data to be loaded into dataframes and use certain functions like group by, filter, select and the like similar to excel. It also allows the creation of multi-dimensional data-tables. As much of coding contains the understanding of data, Pandas allow "data analysis, data cleaning, data handling and data discovery (Mester)". 

### Matplotlib
Matplotlib allows data visualization in python and is the best library for that specific function. Similar to plotting in other programming languages, data visualization is important in understanding the data and showing what they mean, making Matplotlib a very important library for python.

Link to [source](https://data36.com/python-libraries-packages-data-scientists/)

## Part B
[Matplotlib](https://matplotlib.org/)

## Part C
[Pandas](https://pandas.pydata.org/)

# Task 3
### 3 Differences
1. You can't knit in python to create it in html but you can in R
2. After importing a package/library you have to call it again like pandas.read_csv
3. Functions like .mean() takes out NA values automatically but R has to call na.rm = T

# Task 4

In [14]:
a = "My name is"
b = "Andy Tseng"
c = "and I am a"
d = "senior"
e = "studying in the"
f = "University of Washington"
print a + b + c + d + e + f

My name isAndy Tsengand I am aseniorstudying in theUniversity of Washington

# Task 5

In [15]:
g = "in the class of"
num = 2019
print a + b + c + d + e + f + g + str(num)
text = a + b + c + d + e + f + g + str(num)
print text.upper()

My name isAndy Tsengand I am aseniorstudying in theUniversity of Washingtonin the class of2019
MY NAME ISANDY TSENGAND I AM ASENIORSTUDYING IN THEUNIVERSITY OF WASHINGTONIN THE CLASS OF2019

# Task 6

In [17]:
mylist = [a, b, c, d, e, f, g, str(num)]
space = " "
joined = space.join(mylist)
print joined
print joined.count("d")
joined.find("ior")

My name is Andy Tseng and I am a senior studying in the University of Washington in the class of 2019
3

36

# Task 7

In [20]:
len(joined)/2
print joined[:51]

50

# Task 8

In [21]:
stripped = joined.strip("2019")
stripped.replace("Andy", "Ling Hua")

'My name is Ling Hua Tseng and I am a senior studying in the University of Washington in the class of '

# Task 9

In [22]:
sep = stripped.split()
sep.insert(9, "young")
sep

['My',
 'name',
 'is',
 'Andy',
 'Tseng',
 'and',
 'I',
 'am',
 'a',
 'young',
 'senior',
 'studying',
 'in',
 'the',
 'University',
 'of',
 'Washington',
 'in',
 'the',
 'class',
 'of']

# Task 10

In [23]:
import random
x = random.randint(1, 100)
print x
if x <= 25:
	print "1st Quartile"
elif x > 25 and x <= 50:
	print "2nd Quartile"
elif x > 50 and x <= 75:
	print "3rd Quartile"
else:
	print "4th Quartile"

59
3rd Quartile

# Task 11

In [24]:
mylist = ["Seattle", "New York", "Chicago", "Boston", "Toronto", "San Francisco"]
for city in mylist:
	print "Warning, residents of " + city + ", temperatures will reach sub-zero temperatures today, please stay indoors if possible"

Warning, residents of Seattle, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of New York, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Chicago, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Boston, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Toronto, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of San Francisco, temperatures will reach sub-zero temperatures today, please stay indoors if possible

# Task 12

In [25]:
list = []
cities = ["Washington", "California", "Nevada", "Idaho", "Montana", "Utah", "Colorado", "New_Mexico"]
for place in cities:
	list.append("U://Users/Zhang/Geog_458/" + place + ".shp")
print list

['U://Users/Zhang/Geog_458/Washington.shp', 'U://Users/Zhang/Geog_458/California.shp', 'U://Users/Zhang/Geog_458/Nevada.shp', 'U://Users/Zhang/Geog_458/Idaho.shp', 'U://Users/Zhang/Geog_458/Montana.shp', 'U://Users/Zhang/Geog_458/Utah.shp', 'U://Users/Zhang/Geog_458/Colorado.shp', 'U://Users/Zhang/Geog_458/New_Mexico.shp']

# Task 13

In [26]:
i = 10
while i > -1:
	print "T-minus " + str(i)
	i -= 1

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

# Task 14

In [27]:
def countdown(x):
	while x > -1:
		print "T-minus " + str(x)
		x -= 1

# Task 15

In [29]:
def quartile_calc():
    num = input("Number: ")
    num = int(num)
    if num > 0 and num <= 25:
        print ("1st Quartile")
    elif num > 25 and num <= 50:
        print ("2nd Quartile")
    elif num > 50 and num <= 75:
        print ("3rd Quartile")
    elif num > 75 and num <= 100:
        print ("4th Quartile")
    else:
        print ("Error")
        
quartile_calc()

Number: 40
2nd Quartile